- form_for :book, :url => url do |f|
  = f.label :name, 'Title'
  = f.text_field 'name', :maxlength => 40 , :size=> 20
  = f.label :author,"Author"
  = f.text_field 'author', :maxlength => 40, :size => 20
  = f.label :mrp
  = f.text_field :mrp, :maxlength => 5, :size => 10
  = f.label :sale_price
  = f.text_field :sale_price, :maxlength => 5, :size => 10
  = f.label :tag_list
  = f.text_field :tag_list, :maxlength => 15, :size => 15
  = submit_tag 'add'

