<h1>Add a Book</h1>

<% form_for :book do |f| %>
    <%= f.label :name,"Name"%>
    <%= f.text_field 'name', :maxlength => 40, :size => 20 %>
    <br/>
    <%= f.label :author,"Author"%>
    <%= f.text_field 'author', :maxlength => 40, :size => 20 %>
    <br/>
    <%= f.label :mrp%>
    <%= f.text_field :mrp, :maxlength => 5, :size => 10 %>
    <br/>
    <%= f.label :sale_price%>
    <%= f.text_field :sale_price, :maxlength => 5, :size => 10 %>
    <br/>
    <%= f.submit 'add'%>
 <% end %>
