%h1
  Welcome to book index
- if @books.empty?
  = label_tag "No books to list down"
- else
  - @books.each do |book|
    .book
      = label_tag "Name"
      = label_tag book.name
      = link_to :action => :edit
      |
      = link_to :action => :delete
