<h1>Welcome to book index</h1>

<% if @books.empty? %>
    <%= label_tag "No books to list down" %>
<% else %>
    <% @books.each do |book| %>
        <%= label_tag "Name" %>
        <%= label_tag book.name %>
        <%= link_to :action => 'edit' %>|
        <%= link_to :action => :delete %>
        <br/>
    <% end %>
<% end %>


    
